
body {
  
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
  margin: 0;
  padding: 0;
  
   
}

section 
{
  transform-style: preserve-3d;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;

}

section h2
{
  text-align: center;
  font-size: 2rem;
  font-family: cursive, sans-serif;
}

.no-parallax{
 
    background-color:black;
    z-index: 999;
   

}
.parallax{
    background-image: url("flores.gif"); /*Imagen de fondo */
    display: flex;
    align-items: center;
    background-size: cover; /* Cubrir toda la sección con la imagen */
    background-attachment: fixed; /*Fijar la imagen al desplazarse */
    background-position: center;  /* Posicionar la imagen en el centro */
    opacity: 0.9; 
    text-shadow: 2px 2px #393D31; /*sombra de texto*/
   
}




